{% extends "layout.html" %}
{% block body %}
    <h2>Welcome to the backend baby!</h2>
    <p>We're gonna have a lot of fun</p>

    <form action="/admin_login/" method="post">
      <button type="submit" name="submit" value="start_stream">Start Stream</button>
      <button type="submit" name="submit" value="stop_stream">Stop Stream</button>
      <button type="submit" name="submit" value="refresh_logs">Refresh Logs</button>
      <button type="submit" name="submit" value="shutdown">Shutdown</button>
    </form>
 
  {% for row in rows %}
    <li>{{ row }}
  {% endfor %}
{% endblock %}