{% extends "bootstrap/base.html" %}

{% block title %}Twirps{% endblock %}

<!-- <div class="container">
    <div class="page-header">
        <h1>Twirps</h1>
    </div>
</div> -->
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"/>
<script>
    window.jQuery || document.write('<script src="{{url_for("static", filename="js/jquery-1.12.1.min.js") }}">\x3C/script>')
</script>
<script>
    window.d3 || document.write('<script src="{{url_for("static", filename="js/d3.min.js") }}">\x3C/script>')
</script>


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $INITIAL_LOAD = '{{ endpoint }}';
</script>

{% endblock %}

{% block content %}
<p>Hello</p>

<script type="text/javascript" src="{{ url_for('static', filename='js/twirps3.js') }}"/>

{% endblock %}
