{% extends "layout.html" %}
{% block body %}
    <h2>Welcome to the backend, baby!</h2>
    <p>Edit database deets here...</p>

    <a href="{{ url_for('view_backend') }}" >Back to admin page</a>

    <form action="{{ url_for('db_edit') }}" method="post">
        Names
        <input type="text" name="names"></input>
        Handles
        <input type="text" name="handles"></input>
        User Ids
        <input type="text" name="u_ids"></input>
        UserNames
        <input type="text" name="usernames"></input>
        <button type="submit" name="submit" value="get_twirps">Get Twirps Data</button>
        <button type="submit" name="submit" value="get_recent_tweets">Get Most Recent Tweets</button>
        <button type="submit" name="submit" value="delete_twirp">Delete Twirp</button>
    </form>

    <form action="{{ url_for('db_edit') }}" method="post">
        Name
        <input type="text" name="names"></input>
        Handle
        <input type="text" name="handles"></input>
        <button type="submit" name="submit" value="add_twirp">Add Twirp</button>
    </form>


{% for row in results %}
    <li>{{ row }}
{% endfor %}

{% endblock %}