{% extends "layout.html" %}
{% block content %}
    <h2>Welcome to the backend, baby!</h2>
    <p>Edit database deets here...</p>

    <a href="{{ url_for('view_backend') }}" >Back to admin page</a>

    <form class="form-inline" action="{{ url_for('db_edit') }}" method="post" role="form">
        <div class="form-group row col-xs-12">
            <div class="col-xs-2">
                <label for="formNamesInput">Names</label>
                <input type="text" class="form-control" name="names" id="formNamesInput"></input>
            </div>
            <div class="col-xs-2">
                <label for="formHandlesInput">Handles</label>
                <input type="text" class="form-control" name="handles" id="formHandlesInput"></input>
            </div>
            <div class="col-xs-2">
                <label for="formUserIdsInput">UserIds</label>
                <input type="text" class="form-control col-xs-2" name="u_ids" id="formUserIdsInput"></input>
            </div>
            <div class="col-xs-2">
                <label for="formUserNamesInput">UserNames</label>
                <input type="text" class="form-control" name="usernames" id="formUserNamesInput"></input>
            </div>
        </div>
        <div class="form-group row col-xs-12"> 
            <div class="col-xs-12">
                <button type="button" class="btn btn-sm btn-default ">Default</button>
                <button type="submit"  class="btn btn-sm btn-default" name="submit" value="get_twirps">Get Twirps Data</button>
                <button type="submit"  class="btn btn-sm btn-default" name="submit" value="get_recent_tweets">Get Recent Tweets</button>
                <button type="submit"  class="btn btn-sm btn-danger" name="submit" value="delete_twirp">Delete Twirp</button>
                <button type="submit"  class="btn btn-sm btn-warning" name="submit" value="subscribe">Subscribe</button>
                <button type="submit"  class="btn btn-sm btn-warning" name="submit" value="unsubscribe">Unsubscribe</button>
                <button type="submit" name="submit" class="btn btn-sm btn-success" value="FILL_IN">Add Twirp</button>
            </div>
            </div>
        </div>
    </form>

    <form class="form-inline" action="{{ url_for('db_edit') }}" method="post" role="form">
        <div class="form-group row col-xs-12">
            <div class="col-xs-2">
                <label for="formNamesInput">Names</label>
                <input type="text" class="form-control" name="names" id="formNamesInput"></input>
            </div>
            <div class="col-xs-2">
                <label for="formHandlesInput">Handles</label>
                <input type="text" class="form-control" name="handles" id="formHandlesInput"></input>
            </div>
        </div>
        <div class="form-group row col-xs-12">
            <div class="col-xs-2">
                <button type="submit" name="submit" class="btn btn-sm btn-success" value="add_twirp">Add Twirp</button>
            </div>
        </div>
    </form>



{% for row in results %}


    <li> {{ row }}
    
{% endfor %}

{% endblock %}