Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.4
-e git+https://github.com/condnsdmatters/archipelago.git@b92e3443085c4e85270334d4eee8fc9855a96aa1#egg=archipelago-master
dominate==2.1.17
itsdangerous==0.24
lxml==3.5.0
oauthlib==1.0.3
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
tqdm==3.8.0
tweepy==3.5.0
visitor==0.1.2
wsgiref==0.1.2
